body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: darkgrey;
}

.order-btn {
  width: 190px;
  margin-top: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  margin: 0 10% 0 10%;
}

.emej {
  height: 200px;
  width: 200px;
  background-color: red;
}

.pizza-plate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  width: 25%;
  margin: 2%;
  border: 3px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  padding: 5px;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}

.contains {
  text-align: center;
  width: 80%;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.disabled {
  pointer-events: none;
  background-color: grey;
}

.order {
  position: absolute;
  height: 211%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-card {
  margin-top: 50px;
  border: 3px solid rgba(0,0,0,0.25);
  border-radius: 10px;
  padding: 5px;
  width: 500px;
  background-color: white;
}

.order-title {
  text-align: center;
}

.element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-info {
  display: flex;
  flex-direction: row;
}

.order-info * {
  margin: 0 5px 0 5px;
}

.order-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.order-btns * {
  margin: 0 10px 0 10px;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.summary * {
  margin: 0 25px 0 25px;
}